@import "tailwindcss";

:root {
  --background: #f5f4f2;
  --foreground: #171717;
}

/* Map Tailwind font utilities to your Next fonts */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-jost);
  --font-serif: var(--font-tenor);
}

/* Optional dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global defaults */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost);
}
